:root[data-theme="light"] {
  --text: #0b1914;
  --background: #f8fcfb;
  --primary: #4cbd95;
  --secondary: #98cdbb;
  --accent: #00e092;
  --border : rgba(0, 0, 0, 0.1);
}
:root[data-theme="dark"] {
  --text: #e6f4ef;
  --background: #030706;
  --primary: #42b38b;
  --secondary: #326755;
  --accent: #1fffb0;
  --border: rgba(255, 255, 255, 0.1);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  color: var(--text);
}

a,:active,:visited{
  text-decoration: none;
  color: var(--text);
}


.btn{
  background: var(--primary);
  color: var(--text);
  padding: .5rem 1rem;
  border-radius: 5px;
}