:root[data-theme="light"] {
  --text: #0b1914;
  --background: #f8fcfb;
  --primary: #54b68e;
  --secondary: #a3a5d7;
  --accent: #a67ec8;
}
:root[data-theme="dark"] {
  --text: #e6f4ef;
  --background: #030706;
  --primary: #49ab84;
  --secondary: #282a5c;
  --accent: #5e3781;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: var(--background);
}

#app{
  max-width: 1280px;
  margin: 0 auto;
}